@using Todo.Data.Entities

@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-8">
    <p>
        @if (!Model.HideCompletedItems.HasValue || !Model.HideCompletedItems.Value)
        {
            <a class="btn btn-default" 
               asp-route-todoListId="@Model.TodoListId"
               asp-route-orderby="@Model.OrderBy" 
               asp-route-hideCompletedItems="true">Hide Completed Items</a>
        }
        else
        {
            <a class="btn btn-default"
               asp-route-todoListId="@Model.TodoListId" 
               asp-route-orderby="@Model.OrderBy" 
               asp-route-hideCompletedItems="false">Show All Items</a>
        }

        @if (Model.OrderBy != nameof(TodoItem.Rank))
        {
            <a class="btn btn-default" 
               asp-route-todoListId="@Model.TodoListId"
               asp-route-hideCompletedItems="@Model.HideCompletedItems" 
               asp-route-orderby="@nameof(TodoItem.Rank)">Order by Rank</a>
        }
        else
        {
            <a class="btn btn-default" 
               asp-route-todoListId="@Model.TodoListId"
               asp-route-hideCompletedItems="@Model.HideCompletedItems"
               asp-route-orderby="@nameof(TodoItem.Importance)">Order by Importance</a>
        }
    </p>

    <ul id="todoList" class="list-group">

        <li class="list-group-item">

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newItemModal" data-todo-list-id="@Model.TodoListId">
                <strong>Add New Item</strong>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="newItemModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">New Item in @Model.Title</h4>
                        </div>
                        <div class="modal-body">
                            <form id="newItemForm" asp-action="HandleCreateForm">
                                @* Should have a spinner *@
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" form="newItemForm">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <partial name="_ListItemsPartial" model="Model" />
    </ul>
</div>